* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.section_title {
  font-size: 30px;
  font-weight: 700;
}
.contact_container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
}
.contact_left {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
}
.contact_right {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  padding: 8px 16px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.contact_right a {
  text-decoration: none;
  color: black;
}
.contact-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  float: left;
  max-width: max-content;
  line-height: 1.6;
  justify-items: flex-start;
  margin-top: 10px;
}
.contact-details i{
 
  color: green;

}

@media only screen and (max-width: 720px) {
  .contact_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact_left {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .contact_right {
    font-size: 16px;
  }

  .contact-details{
    width: 55%;
    margin: auto;
    font-size: 12px;
  }
}
