* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior:smooth;
  }
  .Home {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    padding: 12px;
    padding-bottom: 35px;
  }
  @media only screen and (max-width: 1024px) {
    .Home {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 512px) {
    .Home {
      width: 100%;
    }
  }
  